[Unit]
Description=Example Docker App
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill example-app
ExecStartPre=-/usr/bin/docker rm example-app
ExecStart=/usr/bin/docker run --name example-app -p 5000:5000 example-app
ExecStop=/usr/bin/docker stop example-app

[X-Fleet]
Global=true
