[Unit]
Description=Example Docker App
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill example-app1
ExecStartPre=-/usr/bin/docker rm example-app1
ExecStart=/usr/bin/docker run --name example-app1 -p 5000:5000 example-app

[Install]
WantedBy=multi-user.target

