<!DOCTYPE html>
<html>   
    <head>
        <title>Wallet. Example app written in backbone.js + foundation</title>
        <link rel="stylesheet" href="libs/foundation/css/foundation.min.css">
    </head>
    <body>
        <div class="row">
            <nav class="top-bar">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="">Wallet</a></h1>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left">
                        <li class="divider"></li>
                        <li id="txs"><a href="#txs">Transactions</a></li>
                        <li class="divider"></li>
                    </ul>
                    <ul class="right">
                        <li><a href="#txs">Balance: 5000 RUB</a></li>
                    </ul>
                </section>
            </nav>
        </div>
        <div id="main-content" class="row">
            <div class="large-12 columns panel">
                <h1 class="subheader">
                    Wallet. Example Rich Internet Application.
                </h1>
                <span>Click to the link at the top menu to start work.</span>
            </div>
        </div>
        <div class="row text-center">
            <h4><small>
                2013. Wallet. Example Rich Internet Application, developed with Backbone.js and Foundation.
            </small></h4>
        </div>

        <!-- templates -->
        <script type="text/underscore-template" id="txs-template">
            <h3>Transactions</h3>
            <table>
                <thead>
                    <tr>
                        <th>Contact</th>
                        <th>Message</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(transactions, function(tx) {
                        %>
                        <tr>
                            <td><%= tx.contact %></td>
                            <td><%= tx.message %></td>
                            <td><%= tx.amount %></td>
                            <td>
                                <%= Wallet.importTemplate("statusTemplate", tx) %>
                            </td>
                            <td><%= new Date(tx.date).format('dd mmm yyyy') %></td>
                        </tr><%
                    }) %>
                </tbody>
            </table>
            <a href="#new-payment" class="small button">New payment</a>
        </script>
        <script type="text/underscore-template" id="statusTemplate">
            <%
            if (status == "SUCCEEDED") { 
                %>
                <span class="success label">OK</span>
                <%
            } else if (status == "PENDING") {
                %>
                <span class="secondary label">PENDING</span>
                <%
            } else if (status == "FAILED") {
                %>
                <span class="alert label">FAILED</span>
                <%
            }
            %>
        </script>
        <script type="text/underscore-template" id="new-payment-template">
            <h3>New payment</h3>
            <form>
                <div class="small-4">
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="contact-name" class="inline">Contact</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="contact-name" placeholder="Contact name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="payment-amount" class="inline">Amount</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="payment-amount" placeholder="Payment amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="payment-message" class="inline">Message</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="payment-message" placeholder="Payment message">
                        </div>
                    </div>
                    <button class="small button alert" id="cancel-payment">Cancel</button>
                    <button class="small button right" id="submit-payment">Submit</button>
                </div>
            </form>
        </script>

        <!-- Dependencies -->
        <script type="text/javascript" src="libs/underscore-min.js"></script>
        <script type="text/javascript" src="libs/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="libs/backbone-min.js"></script>
        <script type="text/javascript" src="libs/date.format.js"></script>

        <!-- Application -->
        <script type="text/javascript" src="js/models.js"></script>
        <script type="text/javascript" src="js/views.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
    </body>
</html>