<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="_layout">
<head>
    <title>Example page</title>
</head>
<body>
    <div layout:fragment="main">
        <h1 th:text="'Hello, ' + ${name}"></h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
            </tr>
        </table>
    </div>
</body>
</html>