<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/web-services 
       http://www.springframework.org/schema/web-services/web-services.xsd">

    <bean name = "wsEndpoint" class="com.blogspot.nikcode.spring.ws.WSEndpoint"/>
    
    <bean class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver">
        <property name="defaultFault" value="SERVER,Internal server error"/>
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.IllegalArgumentException">{http://nikcode.blogspot.com/}1,Invalid request</prop>
            </props>
        </property>
    </bean>
    
    <sws:annotation-driven/>
    
    <sws:dynamic-wsdl id="ws-endpoint"                                                           
            portTypeName="ComputeSumWS"                                                         
            locationUri="/api/">                               
        <sws:xsd location="classpath:ws_api.xsd"/>
    </sws:dynamic-wsdl>
</beans>